.chatUsers {
  width: 425px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* gap: 0.5em; */
}

#chatSearch {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  gap: 0.5em;
  background-color: #efefef;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px rgb(202, 198, 198)e;
}

#chatSearch > input {
  width: 100%;
  border: none;
  background-color: #efefef;
  padding-left: 1em;
}

#chatSearch > input::placeholder{
    color: #9d9d9d;
}

#chatSearch > button {
  background-color: #00000000;
  color: #9d9d9d;
}
#chatSearch > button:hover {
  border: 0;
}

.chatUsersChats{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    gap: 0;
    width: 100%;
}

@media (max-width: 425px) {
  .chatUsers {
    width: 100%;
  }
}
